<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">

    <f:comment> code for search without ajax </f:comment>
    <f:if condition="{settings.checkbox}">
        <f:form action="list" method="post">
  <div>
        <label for="sword">Search:</label>
        <f:form.textfield name="search[sword]" value="{sword}" id="sword" />
    </div>
    <div>
        <f:form.submit name="search[submitButton]" value="Submit" />
        <f:comment> <f:form.submit name="search[resetButton]" value="reset" /> </f:comment>
<f:form.button name="resetButton" value="1">
    Reset
</f:form.button>
    </div>
        </f:form>
    </f:if>

        <h1>Listing for Event</h1>
        <f:flashMessages />
        <table class="tx_nseventmanager">
            <tr>
                <th><f:translate key="tx_nseventmanager_domain_model_event.title" /></th>
                <th><f:translate key="tx_nseventmanager_domain_model_event.description" /></th>
                <th><f:translate key="tx_nseventmanager_domain_model_event.organizer_name" /></th>
                <th><f:translate key="tx_nseventmanager_domain_model_event.mode" /></th>
                <th><f:translate key="tx_nseventmanager_domain_model_event.image" /></th>
                <th></th>
                <th></th>
            </tr>
            <f:for each="{records}" as="event">
                            <tr>
                    <td><f:link.action  pluginName="eventshow" action="show" pageUid="{detailPageId}" arguments="{event : event}">{event.title}</f:link.action></td>
                    <td><f:link.action pluginName="eventshow" action="show" pageUid="{detailPageId}" arguments="{event : event}">{event.description}</f:link.action></td>
                    <td><f:link.action pluginName="eventshow" action="show" pageUid="{detailPageId}" arguments="{event : event}">{event.organizerName}</f:link.action></td>
                    <td><f:link.action pluginName="eventshow" action="show" pageUid="{detailPageId}" arguments="{event : event}">{event.mode}</f:link.action></td>
                    <td>
                        <f:if condition="{event.image}">
                            <f:image image="{event.image}" class="img-fluid rounded-start m-1" alt="image" width="200px" height="200px"/>
                        </f:if>
                    </td>
                    <td><f:link.action action="edit" arguments="{event : event}">Edit</f:link.action></td>
                    <td><f:link.action action="delete" arguments="{event : event}">Delete</f:link.action></td>
                </tr>
            </f:for>
        </table>
        <f:link.action action="new">New Event</f:link.action>
</f:section>
</html>
